<h2>Normalization</h2>
<label for='Normalisation'><b>Please choose your normalization method:</b></label>
<select name="Normalisation" id="norm" class="custom-select d-block w-100">
    <option value="TI">Total intensity</option>
    <option value="MD">Median</option>
    <option value="TMM">TMM</option>
</select>