<h2>Input File</h2>
<label for="input"><b>Choose input file:</b></label>
<div class="custom-file">
    <input type="file" class="custom-file-input" id="input_file"
        aria-describedby="input_file" name="input_file">
    <label class="custom-file-label" for="input_file"></label>
</div>