<nav id="navbarNav" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  
  
  <a class="navbar-brand" href="/">DynaTMT</a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>   
  
  <div id="navbar" class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">mePROD</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/help">Documentation</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/TPP">pSILAC</a>
        </li>
    </ul>
  </div>
</nav>