<h2>Ion injection time</h2>
<label for='it_adj'><b>Do you want to perform Injection Time adjustment?</b></label>
<select name="it_adj" id="it_adj" class="custom-select d-block w-100">
    <option value="Yes">Yes</option>
    <option value="No">No</option>
</select>