<h2>Input Type</h2>
<label for="input"><b>Choose a input type:</b></label>
<select name="input" id="input" class="custom-select d-block w-100">
    <option value="PD">Proteome Discoverer</option>
    <option value="MQ">Plain text</option>
</select>