
{% extends "base.jinja" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 mt-4">
        {% include "partials/inputType.jinja" %}
      </div>

      <div class="col-12 col-md-6 mt-4">
        {% include "partials/inputFile.jinja" %}
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-12 col-md-6 mt-4">
        {% include "partials/inputNorm.jinja" %}
      </div>

      <div class="col-12 col-md-6 mt-4">
        {% include "partials/inputIon.jinja" %}
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-12 col-md-6 mt-4">
        <h2>Baseline</h2>
        <label for="baseline"><b>Please select index of baseline</b></label>
        <input class ="form-control mr-sm-2" type="text" id="baseline" name ="baseline">
        <br>
        <span style="color:grey">
          Please note, that the first column has the index of 0.
        </span>
      </div>
    </div>
    
    <div class="container">
      <button class="btn btn-primary btn-lg btn-block" id='go-button'>GO</button>
      <a href="/api/results"><button class="btn-lg btn-block" id='result',>Show Result</button></a>
    </div>

    <script>
      document.addEventListener('DOMContentLoaded', (event) => {
        
        const input_file_box = document.getElementById("input_file");
        const input_file_label = document.getElementsByClassName("custom-file-label")[0]
        
        input_file_box.addEventListener('change',function(){
          
          var string_file = this.value;
          
          input_file_label.innerHTML = string_file;
        });
        bindEventHandlerForMain();
      })
    </script>
{% endblock %}