
{% extends "base.jinja" %}

{% block content %}

  <ul>
    
      <span>
        <div class="col-md-5 mb-3">
          <label for="input">Choose a Input:</label>
          <select name="input" id="input">
            <option value="PD">PD</option>
            
          </select>
        </div>
      </span>
    
    
      <input type="file" id='input_file' name='input_file'>
    
    
      <div class="col-md-5 mb-3">
        <label for='Normalisation'>Please choose your normalization method:</label>
        <select name="Normalisation" id="norm">
          <option value="TI">Total intensity</option>
          <option value="MD">Median</option>
          <option value="TMM">TMM</option>
        </select>
      </div>
    
    
    
  </ul>

  <button class="btn btn-primary btn-lg btn-block" id='go-button'>GO</button>
  <button class="btn btn-primary btn-lg btn-block" id='result'>Show Result</button>
{% endblock %}