
{% extends "base.jinja" %}

{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 mt-4">
        {% include "partials/inputType.jinja" %}
      </div>

      <div class="col-12 col-md-6 mt-4">
        {% include "partials/inputFile.jinja" %}
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-12 col-md-6 mt-4">
        {% include "partials/inputNorm.jinja" %}
      </div>

      <div class="col-12 col-md-6 mt-4">
        {% include "partials/inputIon.jinja" %}
      </div>
    </div>

  </div> 

  <div class="container mt-4">
    <button class="btn btn-primary btn-lg btn-block" id='go-button'>GO</button>
    <a href="/api/results_TPP"><button class="btn-lg btn-block" id='result',>Show Result</button></a>
  </div>
<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    console.log("Foo");
    bindEventHandlerForMain_TPP();
  })
  
</script>
{% endblock %}